# Prerequisites
*.d

Lab1/.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lab1/adder8.v
Lab1/LEDdebouncer_R.v
Lab1/ledfourdigitdriver.bit
Lab1/LEDreg.v
Lab1/reg8.v
Lab1/system.v
Lab1/tb.v
Lab3/VGA_lab3_workspace.code-workspace
Lab4/.vscode/settings.json
Lab4/Lab_4_workspace.code-workspace
Lab4.zip
